.indicators {
  width: 100%;
}

.indicators--floating {
  position: relative;

  margin-top: -5rem;
  margin-bottom: 5rem;

  z-index: 10;
}

.indicators:not(.indicators--floating) {
  padding: 4rem 0 6rem;
}

.indicators__card {
  width: 100%;
  max-width: 57rem;
  min-height: 10.75rem;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-radius: var(--radius-xl);

  overflow: hidden;

  transition: var(--transition-normal);
}

/* TEMA CLARO */

.indicators--light .indicators__card {
  background: var(--color-bg-alt);

  box-shadow: var(--shadow-lg);
}

/* TEMA ESCURO */

.indicators--dark .indicators__card {
  background: var(--color-card-dark);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: none;
}

.indicator {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  text-align: center;
}

.indicator:not(:last-child)::after {
  content: "";

  position: absolute;

  top: 50%;
  right: 0;

  transform: translateY(-50%);

  width: 1px;
  height: 3.875rem;
}

/* Linha tema claro */

.indicators--light .indicator:not(:last-child)::after {
  background: var(--color-border);
}

/* Linha tema escuro */

.indicators--dark .indicator:not(:last-child)::after {
  background: rgba(255, 255, 255, .12);
}


.indicator__value {
  margin-bottom: .75rem;

  font-size: 2rem;
  font-weight: var(--font-weight-bold);

  line-height: 1;
}

.indicators--light .indicator__value {
  color: var(--color-primary-600);
}

.indicators--dark .indicator__value {
  color: var(--color-text-light);
}

.indicator__title {
  font-size: .9375rem;
  font-weight: var(--font-weight-medium);

  line-height: 1.5;
}

.indicators--light .indicator__title {
  color: var(--color-text-secondary);
}

.indicators--dark .indicator__title {
  color: var(--color-primary-300);
}


.indicator__description {
  display: none;
}

/* RESPONSIVIDADE */

@media (max-width: 992px) {

  .indicators--floating {
    margin-top: 2rem;
  }

  .indicators:not(.indicators--floating) {
    padding: 3rem 0;
  }

  .indicators__card {
    max-width: 20rem;

    grid-template-columns: 1fr;
  }

  .indicator {
    padding: 2rem;
  }

  .indicator:not(:last-child)::after {
    display: none;
  }

  .indicator:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  .indicators--dark .indicator:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .12);
  }

}

@media (max-width: 576px) {

  .indicators__card {
    max-width: 100%;
  }

  .indicator {
    padding: 1.5rem;
  }

  .indicator__value {
    font-size: 1.75rem;
  }

}