.section-title {
  margin-bottom: var(--space-xl);
}

.section-title--center {
  text-align: center;
}

.section-title--left {
  text-align: left;
}

.section-title__subtitle {
  display: block;

  margin-bottom: var(--space-xs);

  color: var(--color-text-tertiary);

  font-size: var(--font-size-section);

  font-weight: var(--font-weight-bold);

  text-transform: uppercase;

  letter-spacing: .08rem;
}

.section-title__title {
  color: var(--color-text-light);

  margin-bottom: var(--space-sm);
}

.section-title__description {
  color: var(--color-primary-200);

  max-width: 600px;
}

.section-title--center .section-title__description {
  margin: auto;
}

.section-title--left .section-title__description {
  margin: 0;
}